body {
  min-height: 80vh;
  min-height: -webkit-fill-available;
  background: #F8FAFC;
  /*background: #e4e4e7;*/
  /*background: #DFE3E8;*/
}

html {
  height: -webkit-fill-available;
}

/**main {
  display: flex;
  flex-wrap: nowrap;
  color: black;
  background-color: #ffff99;
  height: auto;
}**/

main {
  display: flex;
  flex-wrap: nowrap;
  height: 75vh;
  /**height: -webkit-fill-available;**/
  max-height: 75vh;
  /**overflow-x: hidden;
  overflow-y: auto;**/
  color: black;
}

main:after {
  display: block;
  content: '';
  height: 60px;
}

.headbar {
	margin-top: 0;
	position: relative;
	margin-top: 0;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


html,
body {
  /**height: 100%;**/
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 90%;
}

.center-border {
	height: 10%;
}

.center-top {
	height: 40%;
	max-height: 40%;
}

.center-middle {
	/***height: 60%;***/
	text-align: center;
	margin: 10px;
}

.center-bottom {
	height: 30%;
}

.center-middle-2 {
	height: 100%;
	width: 100%;
	min-height: 80%;
	text-align: center;
	margin-top: 20px;
	padding-left: 0px;
	padding-top: 30px;
	padding-right: 15px;
	padding-bottom: 10px;
	/**overflow-x: hidden;
	overflow-y: auto;**/
}

.middle {
	text-align: center;
	font-size: 18px;
}

.voodeal {
	color: red;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.title {
	color: blue;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.voodeal2 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.logo {
	font-size: 28px;
	font-weight: bold;
}

.lions {
	font-size: 28px;
	font-weight: bold;
}

.covid-19 {
	font-size: 14px;
	font-weight: bold;
	color: red;
}

.phone {
	color: blue;
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
}

.normal {
	font-style: italic;
}

.block-info {
  text-align: center;
  min-height: 50px;
}

.lspace {
  width: 0%;
}

.rspace {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.title-text-bold {
	font-weight: bold;
	font-size: 24px;
}

.text-italic {
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
}

i.fas, 
svg.green,
i.fab { 
  /**color: green;**/
  height:50; width:50;
}

i.fas, 
svg.red,
i.fab {
  /**color: red;**/
  /**color: #ffc107;**/
}

.red:hover {
	fill: red;
	width: 75px;
	height: 75px;
	font-weight: bold;
}

img.link {
	/**border: solid;
	border-color: #ffc107;**/
}

.small-img:hover {
	/**fill: red;
	width: 75px;
	height: 75px;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;**/
	border-size: 10px;
	border: solid;
	border-color: red;
}

link:hover > .item {
	font-size: 24px;
}

.green:hover {
	fill: red;
}

.container-fluid {
  /**margin-right: 3px;
  margin-left: 6px;**/
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

.main-connexion-content {
	height: 100%;
}

img {
	/**width:100%;
	height:100%;**/
}

.carousel {
	/**width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	height: 800px;**/
	height: 230px;
	width: 360px;
}

#carouselExampleCaptions-top.carousel {
	width: 100%;
	height: 50%;
}

/**footer.bg-org {
  padding-right: 10px;
  padding-bottom: 10px;
}**/

.table-tr {
  height: 25px;
}

img.logo {
  width: 55px;
  height: 35px;
}

.table-font {
  vertical-align: middle;
  font-size: 13px;
}

.text-bold {
  font-weight: bold;
  color: black;
  /*font-style: italic;*/
}

.search-filter {
  font-size: 18px;
  font-weight: 500;
}

table {
  max-width: 100%;
  padding-top: 8px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 5px;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-25 {
	padding-right: 25px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.bg-col-2 {
  color: rgba(0, 0, 0, 0.05);
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-50 {
  padding-top: 50px;
}

.center-align {
  text-align: center;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.responsive {
  position: relative;
  background-color: #ffc107;/**rgba(0, 0, 0, 0.05);**/
  height: 420px;
  min-width: 120px;
  padding-bottom: 10px;
}

div.row1 {
  
}

div.row2 {
  /**margin-left: calc(-.1 * var(--bs-gutter-x));
  margin-right: calc(-.3 * var(--bs-gutter-x));**/
  margin-top: 20px;
}

.div-rounded {
  border-radius: 15px;
}

div.row1-partenaire {
  /**padding-bottom: 15px;**/
}

img.locaux {
  width: 400px;
  height: 300px;
  margin-right: 0px;
  text-align: center;
}

.contact {
  padding-top: 5px;
  text-align: center;
}

.uppercase {
  text-transform:uppercase;
}

.map {
  height: 450px;
  width: 82%;
}

.local {
  width: 82%;
}

/**footer {
  padding-bottom: 10px;
  background-color: color;
}**/

img.logo_voodeal {
	width: 170px;
	height: 50px;
}

img.carousel {
	/**width: 100%;
	height: 100%;**/
	/**width: 100%;
    height: 450px;**/
	height: 230px;
	width: 360px;
}

img.carousel-partenaires {
	width: 100%;
	height: 700px;
}

img.carousel-partenaire {
	width: 50%;
	height: 500px;
}

.top {
	height: 45%;
}

.title-white {
	font-weight: bold;
	color: white;
}

.partenaire {
  width: 450px;
  height: 540px;
  background-color: orange;
  display: inline-block;
  padding-top: 10px;
  margin-top: 10px;
  justify-content: center;
  vertical-align: middle;
}

.img-partenaire {
  width: 400px;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vcentered {
	/**display: flex;
	justify-content: center;
	align-items: center;**/
	/**position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	border: 5px solid #FFFF00;
	padding: 10px;**/
}

header {
	/**background-color: #009933;**/
	/**background-color: #ffc107;**/
	width: 100%;
	background-color: #f0f0f5;
}

/***header:after {
  display: block;
  content: '';
  height: 100%;
}***/

footer {
	clear: both;
	background-color: #f0f0f5;
	height: 60px;
	color: black;
	width: 100%;
}

.footer {
	/**background-color: #009933;**/
	/**background-color: #ffc107;**/
	/**padding-bottom: 10px;**/
	/**padding-top: 25px;**/
}


.timaro-text {
	font-size: 20px; 
	color: black;
	font-weight: bold;
}

.header-top-container {
	display: flex;
}

.header-top-container-1 {
	flex-basis: 50%;
	display: flex;
}

.header-top-container-2 {
	flex-basis: 50%;
	color: black;
	cursor:pointer;
	display: flex;
	justify-content:flex-end;
}

.header-top-logout {
	/**flex-direction: row;
	justify-content: flex-end;
	align-items: right;**/
}

.header-middle-container {
	font-size: 20px;
	text-align: center;
	color: black;
	padding-top: 0px;
	font-weight: bold;
	font-style: italic;
}

.header-cv-text {
	font-size: 16px;
	text-align: center;
	color: #ff8000;
	padding-top: 30px;
	font-weight: bold;
	font-style: italic;
}

.header-footer-container {
	display: flex;
	padding-top: 5px;
	min-height: 4vh;
}

.header-footer-container-1 {
	flex-basis: 50%;
	display: flex;
}

.header-footer-container-2 {
	flex-basis: 50%;
	color: black;
	cursor:pointer;
}

.link {
	/**color: #b3b3cb;**/
	color: #3366cc;
}

/**.nav-link {
	color: #b3b3cb;
}

.nav-link:hover {
	color: #884dff;
}

.nav-link:focus {
	color: #884dff;
}**/

@media(min-width: 648px) {
	.hspace {
		flex-basis: 0%;
	}
}

@media(min-width: 1043px) {
	.corporate-item {
		padding-right: 0px;
		padding-left: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	.top-container {
		padding-right: 0px;
		padding-left: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	.hspace {
		flex-basis: 10%;
	}
	
	.vspace {
		flex-basis: 10%;
	}
}

.box-1 {
	flex-basis: 30%;
}

.box-2 {
	flex-basis: 69%;
	margin-left: 8px;
}
.box-partenaire-2 {
	flex-basis: 100%;
	margin-left: 8px;
}

.corporate-name {
	margin-left: 5px;
	flex-basis: 50%;
	display: flex;
}

.corporate-location {
	justify-content: left;
	flex-basis: 40%;
}

.corporate-price {
	justify-content: right;
	text-align: right;
	flex-basis: 40%;
	font-size: 22px;
}
.corporate-price-partenaire {
	justify-content: right;
	text-align: right;
	flex-basis: 40%;
	margin-right: 8px;
}
.corporate-price-reduction {
	color: red;
}
.corporate-phone {
	font-size: 18px;
}

.corporate-feeds .feedbacks {
	text-align: right;
	margin-right: 8px;
	flex-basis: 35%;
}

.paiements {
	margin-left: auto;
}

.vspace-accueil {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.vspace {
	/**flex-basis: 40%;**/
	/**height: 15px;**/
	height: 5px;
}

.candidat-no-account {
	padding-top: 20px;
}

.line-center {
	/**flex-basis: 10%;**/
	text-align: left;
	justify-content: left;
	padding-top: 20px;
	font-size: 18px;
}

.line-1 {
	/**flex-basis: 10%;**/
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}

.line-2 {
	/**flex-basis: 10%;**/
	text-align: center;
	padding-top: 20px;
	height: 10vh;
	min-height: 10vh;
}

.line-3 {
	/**flex-basis: 10%;**/
	text-align: center;
	padding-top: 10px;
	height: 25vh;
	min-height: 25vh;
}

.line-4 {
	padding-top: 20px;
}

.line {
	display: flex;
}

.search-bar {
	display: flex;
	margin-bottom: .5em;
}

.form-select {
	min-width: 150px;
	max-width: 300px;
}

input.form-control {
	/**min-width: 250px;
	max-width: 380px;
	width: 300px;**/
}

input.form-control-2 {
    display: block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	border-radius: 15px;
}

.non-resizable {
	 resize: none;
}

.green {
	color: green;
	font-weight: bold;
	font-size: 20px;
}

.btn {
	/**width: 150px;**/
}

.bg-carousel {
	/**background-color: #ffcc99;**/
	background-color: #884dff;
}

.bg-carousel2 {
	/**padding: 0;
	margin: 0;
	box-sizing: border-box;**/
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	/**background-color: #f9f9f9;**/
	background-color: #884dff;
	/**height: 100vh;**/
	height: 25vh;
	min-height: 25vh;
}

.horizontal-scroll {
	width: 80%;
	height: 100%;
	/**width: 600px;
	height: 160px;**/
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.horizontal-scroll .btn-scroll {
	background-color: #fff;
	color: #999;
	box-shadow: 0 0 10px #999;
	padding: 5px 8px;
	border: 0;
	border-radius: 50%;
	margin: 0 5px;
	z-index: 1;
	cursor: pointer;
}

.horizontal-entreprises-scroll {
	width: 80%;
	height: 100%;
	/**width: 600px;
	height: 160px;**/
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.horizontal-entreprises-scroll .btn-scroll {
	background-color: #fff;
	color: #999;
	box-shadow: 0 0 10px #999;
	padding: 5px 8px;
	border: 0;
	border-radius: 50%;
	margin: 0 5px;
	z-index: 1;
	cursor: pointer;
}

.horizontal-categories-scroll {
	width: 80%;
	height: 100%;
	/**width: 600px;
	height: 160px;**/
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.btn-scroll {
	background-color: #fff;
	color: #999;
	box-shadow: 0 0 10px #999;
	padding: 5px 8px;
	border: 0;
	border-radius: 50%;
	margin: 0 5px;
	z-index: 1;
	cursor: pointer;
}

/**.horizontal-categories-scroll .btn-scroll {
	background-color: #fff;
	color: #999;
	box-shadow: 0 0 10px #999;
	padding: 5px 8px;
	border: 0;
	border-radius: 50%;
	margin: 0 5px;
	z-index: 1;
	cursor: pointer;
}**/

.storys-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	left: 0;
	transition: 0.5s all ease-out;
}

.storys-entreprises-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	left: 0;
	transition: 0.5s all ease-out;
}

.storys-categories-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	left: 0;
	transition: 0.5s all ease-out;
}

.story-category-circle {
	/**background: linear-gradient(rgb(231, 0, 231), (255, 0, 255));**/
	/**background: linear-gradient(#ff00ff, #e700e7);**/
	width: 100px;
	height: 100px;
	margin: 15px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.story-category-circle img {
	width: 98px;
	height: 98px;
	border-radius: 10%;
	border: 2px solid #fff;
	/**transform: rotateZ(-45deg);**/
	background: linear-gradient(#e66465, #9198e5);
}

.story-entreprise-circle {
	/**background: linear-gradient(rgb(231, 0, 231), (255, 0, 255));**/
	/**background: linear-gradient(#884dff, #884dff);**/
	width: 150px;
	height: 150px;
	margin: 15px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	/**transform: rotateZ(45deg);**/
	cursor: pointer;
}

.story-entreprise-circle img {
	width: 148px;
	height: 148px;
	border-radius: 10%;
	border: 2px solid #fff;
	/**transform: rotateZ(-45deg);**/
	/**background: linear-gradient(#e66465, #9198e5);**/
}

.link-margin-right {
	margin-right: 5px;
}

.link-margin-top {
	margin-top: 7px;
}

.navbar {
	/**background-color: #ffc107;**/
	background-color: #e1e1ea;
	/**width: 100%;**/
	height: 3em;
}

.nav-link {
	font-weight: bold;
	color: rgba(0,0,0,.55);
	/**color: #3366cc;
	   color: #b3b3cb;**/
}

.nav-link:hover {
	color: #333333;
}

.link-blue {
	/**color: #0d6efd;**/
	/**color: #884dff;**/
	color: #ff8000;
}

.link-color {
	color: #884dff;
}

.link-color:hover {
	/**color: #ff8000;**/
	color: black;
}

.link-blue-bold {
	color: #884dff;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}

.timaro-recruteur-workspace {
	font-size: 18px;
	font-weight: bold;
}

.search-text {
	font-weight: bold;
	font-size: 18px;
}

/**.form-control {
}**/

.dropdown-menu {
	background-color: #ffc107;
}

.dropdown-item:hover {
	background-color: #ffc107;
	color: #884dff;
	font-weight: bold;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.category {
	font-weight: bold;
	color: #884dff;
}

.scroll-items-center {
	display: flex;
	justify-content: center;
}

.btn-middle {
	display: flex;
    justify-content: center;
    align-items: center;
}

.btn-connexion {
	justify-content: center;
	display: flex;
}

p.category-scroll {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.line-5 {
	padding-top: 10px;
}

.category-text {
	font-weight: bold;
	font-size: 18px;
}

.category-buttons {
	/**display: flex;
	justify-content: space-between;**/
	/**flex-wrap: wrap;
	margin: 5px;**/
	/**margin-bottom: 5px;**/
	padding-bottom: 2em;
}

.category-buttons-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: .5em;
}

.btn-category {
	flex-basis: 20%;
}

.category-row-1 {
    margin-bottom: 0.5em;
}

button.rounded {
	border-radius: 15px;
}

select.form-select {
	border-radius: 15px;
}

input.form-control {
	border-radius: 15px;
}

#fsearch {
	border-radius: 15px;
}

.radio-buttons {
	flex-basis: 18%;
	padding-top: 10px;
}

.email-input {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-basis: 25%;
	margin-left: 0;
	/**justify-content: center;**/
}

#email {
	/**flex-basis:140px;**/
	width: 250px;
}

#email-server {
	/**flex-basis: 80px;**/
	width: 120px;
}

#email-domain {
	/**flex-basis: 20px;**/
	width: 80px;
}

.row-item {
	display: flex;
	margin-bottom: .5em;
}

.padding-bottom {
	padding-bottom: .5em;
}

.padding-footer {
	padding-bottom: 5em;
}

.text-align-left {
	text-align: left;
	min-width: 220px;
}

#candidat-save {
	display: flex;
	justify-content: flex-start;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

/**legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
	width: 120px;
	position: relative;
}**/

/**legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}**/

.margin-bottom-5 {
	margin-bottom: 20px;
	margin-bottom: 5;
}

.linkedin-button {
	background-color: xx;
}

button.gmail, 
button.linkedin, 
button.facebook {
	margin-bottom: .5em;
	width: 25vh;
	color: white;
	font-weight: bold;
}

.linkedin {
	background-color: #0066CC;
}

.block1 {
	flex-basis: 15%;
}

.block2 {
	flex-basis: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block3 {
	flex-basis: 15%;
}

.block-buttons {
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
}

.block-email {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.d-flex {
	padding-bottom: 5px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-30 {
	margin-right: 30px;
}

.padding-top-10 {
	padding-top: 10px;
}

.form-check {
	margin-top: 5px;
}

.fa-house-chimney {
	color: black;
}

.fa-question {
	color: black;
}

.fa-user {
	color: black;
}

.fa-circle-user {
	color: black;
	/**margin-top: 2px;**/
}

.fa-building {
	color: black;
}

.fa-plus {
	color: green;
}

.fa-minus {
	color: red;
}

.dropdown-logout {
	margin-left: 10px;
	/**position: relative;**/
	inset: 0px auto auto 30px;
}

ul {
	inset: 0px auto auto 30px;
}

.aligncenter {
    text-align: center;
}

.header-block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-timaro {

	width: 100px;
	height: 100px;
	/**margin: 15px 10px;**/
	/**display: flex;
	justify-content: center;
	align-items: center;**/
	border-radius: 5%;
	/**transform: rotateZ(45deg);
	cursor: pointer;**/
	
	position: relative;
	z-index: 2;
	
	
	margin: 10px auto 20px;
    display: block;
}

.logo-timaro img {
	width: 98px;
	height: 98px;
	border-radius: 10%;
	border: 2px solid #fff;
	/**transform: rotateZ(-45deg);**/
	/**background: linear-gradient(#e66465, #9198e5);**/
	
	position: relative;
}

.category-scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	
	top: 7%;
	position: absolute;
	z-index: 1;
	
	font-size: 24px;
	font-weight: bold;
	color: #3366cc;
	/**color: #b3b3cb;**/
}

.categories-scroll span {
	padding-right: 15px;
}

.logo-block {
	/**display: flex;
	justify-content: center;
	align-items: center;**/
	position: relative;
}

.main-block {
	/**background-color: #ffff99;
	width: 100%;**/
}
	










